.pagination {
  float: right;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid $additionalColor;
    @include border-radius(3px);
    display: inline-block;
    line-height: 25px;
    & li {
      display: inline-block;
      float: left;
      height: 33px;
      & a, span {
        color: $fontColor;
        text-decoration: none;
        text-align: center;
        min-width: 35px;
        padding: 5px 7px;
        display: inline-block;
        height: 33px;
        float: left;
        & .fa {
          font-size: 10px;
          position: relative;
          top: -1px;
        }

        & .pagination-link-page {
          min-width: auto;
          padding: 0;
          float: initial;
        }

        @media all and (max-width: 1000px) {
          & .pagination-link-page {
            display: none !important;
          }
        }
      }
      & a {
        position: relative;
        font-weight: 500;
        @include transition(background 0.2s ease-in-out);
        &:after {
          content: '';
          position: absolute;
          top: 0;
          right: -1px;
          bottom: -1px;
          left: -1px;
          border: 1px solid transparent;
          @include transition(border 0.2s ease-in-out);
        }
        &.active {
          background: $additionalColor;
          @include transition(background 0.2s ease-in-out);
          cursor: default;
        }
        &:not(.active):hover {
          background: $mainColor;
          @include transition(background 0.2s ease-in-out);
          cursor: pointer;
          color: $textColorOnButtons;
          &:after {
            border: 1px solid $mainColor;
            @include transition(border 0.2s ease-in-out);
          }
        }
      }
      & span {
        color: rgba($fontColor,4/10);
      }
      &:not(:last-of-type) {
        border-right: 1px solid $additionalColor;
      }
      &:first-of-type {
        & a {
          &:after {
            @include border-top-left-radius(3px);
            @include border-bottom-left-radius(3px);
          }
        }
      }
      &:last-of-type {
        & a {
          &:after {
            @include border-top-right-radius(3px);
            @include border-bottom-right-radius(3px);
          }
        }
      }
    }
  }
}
