.product-tiles-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.product-tile {
  margin-bottom: 25px;
  & .product-img {
    width: 100%;
    padding-bottom: 125%;
    overflow: hidden;
    position: relative;
    & img {
      width: 100%;
      height: auto;
      position: absolute;
      top: 50%;
      left: 50%;
      @include transform(translate(-50%,-50%) translateZ(0));
      &.vertical {
        width: auto;
        max-height: 100%;
        height: auto;
        object-fit: contain;
      }
      &.horizontal {
        max-width: 100%;
        width: auto;
        height: auto;
        object-fit: contain;
      }
    }
    &.showcase-zoom {
      & img {
        @include transform(translate(-50%,-50%) scale(1) translateZ(0));
        @include transition(transform 0.2s ease-in-out);
      }
      &:hover {
        & img {
          @include transform(translate(-50%,-50%) scale(1.15,1.15) translateZ(0));
          @include transition(transform 0.2s ease-in-out);
        }
      }
    }
    &.showcase-next-photo-fade {
      & .product-main-img.is-next {
        @include opacity(1);
        @include transition(opacity 0.2s ease-in-out);
      }
      & .product-img-next {
        & img {
          @include opacity(0);
          @include transition(opacity 0.2s ease-in-out);
        }
      }
      &:hover {
        & .product-main-img.is-next {
          @include opacity(0);
          @include transition(opacity 0.2s ease-in-out);
        }
        & .product-img-next {
          & img {
            @include opacity(1);
            @include transition(opacity 0.2s ease-in-out);
          }
        }
      }
    }
    &.showcase-next-photo-entry {
      & .product-main-img {
        margin-left: 0;
        @include transition(margin 0.2s ease-in-out);
      }
      & .product-img-next {
        & img {
          margin-left: -100%;
          @include transform(translate(-50%,-50%) translateZ(0));
          @include transition(margin 0.2s ease-in-out);
        }
      }
      &:hover {
        & .product-main-img {
          margin-left: 100%;
          @include transition(margin 0.2s ease-in-out);
        }
        & .product-img-next {
          & img {
            margin-left: 0;
            @include transition(margin 0.2s ease-in-out);
          }
        }
      }
    }
    & .product-labels {
      position: absolute;
      top: 10px;
      left: 1px;
      & > div {
        text-transform: uppercase;
        padding: 5px 5px 3px;
        background: #fff;
        display: block;
        font-size: 11px;
        font-weight: 600;
        float: left;
        clear: both;
        color: $fontColor;
        border: 1px solid $colorLineBorder;
        &:not(:last-of-type) {
          margin-bottom: 6px;
        }
        &.label-new { background: $labelNew; }
        &.label-promotion { background: $labelPromotion; }
        &.label-bestseller { background: $labelBestseller; }
      }
    }
    & .product-actions {
      position: absolute;
      bottom: -2px;
      left: -2px;
      right: -2px;
      height: 40px;
      background: #ffffff;
      @include transform(translateY(100%) translateZ(0));
      @include transition(transform 0.2s ease-in-out);
      &.product-actions-with-info {
        height: 68px;
      }
      & .row {
        padding: 0 15%;
        display: flex;
        justify-content: center;
        & [class*='col-'] {
          text-align: center;
          font-size: 20px;
          position: relative;
          padding-left: 5px;
          padding-right: 5px;
          & .fa {
            padding: 8px;
            cursor: pointer;
            color: rgba($fontColor,8/10);
            position: absolute;
            left: 50%;
            top: 3px;
            @include transform(translateX(-50%));
            &:hover {
              color: $mainColor;
            }
          }
        }
        &.product-actions-info {
          background: $priceColor;
          & span {
            font-size: 12px;
            color: $primaryColor;
            position: relative;
            bottom: 2px;
          }
        }
      }
    }
    & .product-parameters {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 38px;
      left: 0;
      background: rgba(255,255,255,6/10);
      text-align: center;
      color: $fontColor;
      padding: 10px 0;
      @include transform(translateY(-100%) translateZ(0));
      @include transition(transform 0.2s ease-in-out);
      & .parameters-container {
        display: inline-block;
        width: 100%;
        position: absolute;
        top: 50%;
        left: 0;
        @include transform(translateY(-50%));
      }
      & p {
        height: 24px;
        overflow: hidden;
        padding: 0 10px;
        margin: 8px 0;
        &.inline {
          & .title {
            display: block;
            width: 33.333333333%;
            float: left;
            text-align: right;
            &:after {
              content: ':';
            }
          }
          & .inline-param {
            display: block;
            width: 66.666666666%;
            float: left;
            text-align: left;
            padding-left: 10px;
            font-size: 16px;
          }
        }
      }
      & .title {
        font-weight: 500;
        font-size: 16px;
      }
      & .color {
        width: 24px;
        height: 24px;
        display: inline-block;
        background-clip: content-box;
        padding: 4px;
        position: relative;
        @include border-radius(50%);
        &:before {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background: #ffffff;
          z-index: -1;
          @include border-radius(50%);
          @include box-shadow(0 1px 3px rgba(0,0,0,2/10));
        }
      }
      & .param {
        min-width: 27px;
        height: 24px;
        text-align: center;
        display: inline-block;
        background-clip: padding-box;
        padding: 0 5px;
        font-weight: 500;
        line-height: 22px;
        border: 2px solid rgba($fontColor,5/10);
        @include border-radius(3px);
      }
    }
  }
  & .product-desc {
    background: #ffffff;
    //height: 75px;
    & .product-name {
      margin: 11px 0 0;
      color: rgba($fontColor,8/10);
      & a {
        color: rgba($fontColor,8/10);
        text-decoration: none;
        span {
          @include ellipsis(16px, 1.4, 2);
        }
      }
    }
    & .product-average-rate{
      .average-rating-opinions{
        a {
          display: inline-flex;
          justify-content: flex-start;
          align-items: center;

          .rate-field {
            margin: 5px 0 0;
            .fa{
              cursor: pointer;
            }
          }

          .product-count-opinions {
            padding-left: 10px;
            color: #000;
            opacity: .5;
            padding-top: 6px;
            transition: .3s ease-in-out;
            font-size: 18px;

            &:hover {
              opacity: 1;
              transition: .3s ease-in-out;
            }
          }
          &:hover{
            cursor: pointer;
            text-decoration: none;
          }
        }
      }
    }
    & .product-price {
      font-size: 16px;
      font-weight: 500;
      margin: 11px 0 0;

      & span:not(:last-of-type) {
        padding-right: 7px;
      }
      & .price-normal {
        color: $priceNormal;
        &.discount {
          text-decoration: line-through;
          color: rgba($priceNormal,6/10);
        }
      }
      & .price-special {
        color: $priceColor;
      }
      & .brutto{
        max-height: 0;
        overflow: hidden;
        transition: .3s ease-in-out;
        position: absolute;
        z-index: 10;
        background: #fff;
      }
    }
  }
  &:hover, &.product-hover{
    & .product-img {
      & .product-actions {
        @include transform(translateY(0%) translateZ(0));
        @include transition(transform 0.2s ease-in-out);
      }
      & .product-parameters {
        @include transform(translateY(0%) translateZ(0));
        @include transition(transform 0.2s ease-in-out);
      }
    }
    & .product-desc {
      & .product-name {
        & a {
          color: $fontColor;
        }
      }
      & .product-price{
        & .brutto{
          max-height: 50px;
          transition: .3s ease-in-out;
        }
      }
    }
  }
}
@media(max-width: 1024px) {
  .product-tile .product-img .product-actions {
    transform: translateY(0%) translateZ(0);
  }
  .product-actions{
    background: rgba(255,255,255,.5) !important;
  }
}