@import "../../_shared/scss/_all.scss";
@import "../_common/scss/_cookies.scss";
@import "../_common/scss/_header.scss";
@import "../_common/scss/_sticky_header.scss";

#header.mod-header-7 {
  .header_inner_wrapper {
    .header_middle_content {
      padding: $header-middle-content-padding-big 0px;

      .header_middle_content_inner_wrapper {
        display: flex;
        justify-content: center;

        .header_middle_content_logo {
          img {
            max-width: 300px;
            max-height: 300px;
          }
        }
      }
    }

    .menu {
      background-color: $backgroundColorTopMenu;

      &.menu-calculate {
      }

      ul {
        margin: 0;

        li {
          float: left;
          @import "../_common/scss/_menu_dropdown_click_1.scss";
          @import "../_common/scss/_menu_dropdown_single_1.scss";
          @import "../_common/scss/_menu_dropdown_full_1.scss";
          @import "../_common/scss/_search_dropdown_1.scss";
          @import "../_common/scss/_hamburger_dropdown_1.scss";
        }
      }

      .header_bottom_content_list {
        text-align: center;
        font-size: 0;

        li {
          display: inline-block;
          float: none;

          & .dropdown {
            text-align: left;
          }
        }
      }
    }
  }
  .sticky-header_content__menu_list{
    li {
      a {
        color: $fontColor ;
      }
      &:hover{
        a{
          color: $topMenuTextColorHover;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  @import "../_common/scss/_mobile_menu_1.scss";
  #header.mod-header-7 {
    & .mobile-search {
      display: block;
    }

    .header_inner_wrapper {
      .header_middle_content {
        padding: 20px 0px;

        .header_middle_content_inner_wrapper {
          padding: 0px 5px;
          justify-content: flex-start;

          .header_middle_content_logo {
            img {
              max-width: 175px;
              max-height: 200px;
            }
          }
        }
      }
    }

    & .mobile-search {
      display: block;
    }

    & .menu {
      display: none;
    }
  }

  @import "../_common/scss/_mobile_menu_1.scss";

  .swipe-panel {
    & .swipe-panel-content.quick-cart {
      & .dropdown {
        @import "../_common/scss/_dropdown_quick_cart_1.scss";
        min-width: 0 !important;

        &.dropdown-quick-cart {
          width: 300px;
          @import "../_common/scss/_mobile_menu_1.scss";

          .swipe-panel {
            & .swipe-panel-content.quick-cart {
              & .dropdown {
                @import "../_common/scss/_dropdown_quick_cart_1.scss";
                min-width: 0 !important;
              }
            }
          }
        }

        .swipe-panel {
          & .swipe-panel-content.quick-cart {
            & .dropdown {
              @import "../_common/scss/_dropdown_quick_cart_1.scss";
              min-width: 0 !important;
            }
          }
        }

        @import "../_common/scss/_mobile_menu_1.scss";

        #header.mod-header-7 {
          & .mobile-search {
            display: block;
          }

          .header_inner_wrapper {
            .header_middle_content {
              padding: 20px 0px;

              .header_middle_content_inner_wrapper {
                padding: 0px 5px;
                justify-content: flex-start;

                .header_middle_content_logo {
                  img {
                    max-width: 175px;
                  }
                }
              }
            }
          }

          & .mobile-search {
            display: block;
          }

          @import "../_common/scss/_mobile_menu_1.scss";

          #header.mod-header-7 {
            & .mobile-search {
              display: block;
            }

            .header_inner_wrapper {
              .header_middle_content {
                padding: 20px 0px;

                .header_middle_content_inner_wrapper {
                  padding: 0px 5px;
                  justify-content: flex-start;

                  .header_middle_content_logo {
                    img {
                      max-width: 175px;
                    }
                  }
                }
              }
            }
          }
        }

        & .mobile-search {
          display: block;
        }

        & .menu {
          display: none;
        }

        @import "../_common/scss/_mobile_menu_1.scss";
      }

      .swipe-panel {
        & .swipe-panel-content.quick-cart {
          & .dropdown {
            @import "../_common/scss/_dropdown_quick_cart_1.scss";
            min-width: 0 !important;
          }
        }
      }
    }
  }
}
