.division.mod-division-1 {
  max-width: $pageWidth;
	width: 100%;
	margin: 0 auto;
  padding-top: 30px;
  @import "../_common/scss/_divisions_1.scss";
  & + .slider, & + .producers {
    padding-top: 30px;
  }
}

@media all and (max-width: 480px) {
  .division.mod-division-1 {
    padding-top: 15px;
    @import "../_common/scss/_divisions_1_rwd.scss";
  }
}

/* Media queries - visibility and control rules */

@media all and (min-width: 481px) {
  .division.mod-division-1 {
    & .divisions {
      &.divisions-xxs {
        display: none;
      }
    }
  }
}

@media all and (max-width: 480px) {
  .division.mod-division-1 {
    & .divisions {
      &.divisions-lg {
        & .division-box-2 {
          display: none;
        }
      }
    }
  }
}
