.list-options {
  & > .row {
    margin: 0;
  }
  & .pagination {
    width: 100%;
    padding: 0;
    position: relative;
    & ul {
      width: 100%;
      & li {
        &:first-of-type {
          position: absolute;
          top: 1px;
          left: 1px;
          z-index: 1;
        }
        &:last-of-type {
          position: absolute;
          top: 1px;
          right: 2px;
        }
        &.active {
          width: 100%;
          & a {
            width: 100%;
            text-align: center;
          }
        }
      }
    }
  }
}
