.division.mod-division-6 {
  max-width: $pageWidth;
	width: 100%;
	margin: 0 auto;
  padding-top: 30px;
  @import "../_common/scss/_divisions_2.scss";
  & + .slider, & + .producers {
    padding-top: 30px;
  }
}

@media all and (max-width: 480px) {
  .division.mod-division-6 {
    padding-top: 15px;
    @import "../_common/scss/_divisions_2_rwd.scss";
  }
}

/* Media queries - visibility and control rules */

@media all and (min-width: 992px) {
  .division.mod-division-6 {
    & .divisions {
      &.divisions-md, &.divisions-xxs {
        display: none;
      }
    }
  }
}

@media all and (min-width: 481px) and (max-width: 991px) {
  .division.mod-division-6 {
    & .divisions {
      &.divisions-lg {
        & .division-box-1, & .division-box-2 {
          width: 50%;
        }
        & .division-box-3, & .division-box-4 {
          display: none;
        }
      }
      &.divisions-xxs {
        display: none;
      }
    }
  }
}

@media all and (max-width: 480px) {
  .division.mod-division-6 {
    & .divisions {
      &.divisions-lg {
        & .division-box-2, & .division-box-3, & .division-box-4 {
          display: none;
        }
      }
      &.divisions-md {
        & .division-box-4 {
          display: none;
        }
      }
    }
  }
}
