.blog.mod-blog-1 {
  max-width: $pageWidth;
  width: 100%;
  padding: 25px 0;
  margin: 0 auto;
  @import "../../_shared/scss/_post_tile.scss";
  @import "../_common/scss/_utils_1.scss";
  @import "../_common/scss/_list_options_1.scss";
  @import "../_common/scss/_column_categories_1.scss";

  img.responsive-image {
    width: 100%;
    height: auto;
  }
}

@media all and (max-width: 1000px) {
  .blog.mod-blog-1 {
    & .list-options {
      @import "../../_shared/scss/_pagination_mobile.scss";
    }
  }
}

@media all and (max-width: 767px) {
  .blog.mod-blog-1 {
    padding-top: 0;
    & > .container-fluid {
      & > .row {
        & .left-parameters {
          top: 0;
          left: 0;
          right: 0;
          background: #ffffff;
          height: 55px;
          padding: 5px 15px;
          z-index: 1;
          @include opacity(1);
          -webkit-transition: top 0.05s ease-in-out;
          -moz-transition: top 0.05s ease-in-out;
          -ms-transition: top 0.05s ease-in-out;
          -o-transition: top 0.05s ease-in-out;
          transition: top 0.05s ease-in-out;
        }
      }
    }
    & .heading {
      display: inline-block;
    }
    & .heading-blog-list-filters {
      width: 100%;
      margin-bottom: 15px;
      cursor: pointer;
      & ul {
        width: 100%;
        padding: 0 0 5px;
        border: 1px solid $colorLineBorder;
        @include border-radius(3px);
        @include transition(border 0.2s ease-in-out);
        & li {
          padding: 0;
          text-align: center;
          width: 100%;
          &:after {
            display: none;
          }
          & .title {
            font-size: 18px;
            margin: 0;
            padding: 10px 0 3px;
            display: inline-block;
          }
        }
      }
      & + .column-categories {
        display: none;
      }
    }
  }
}

@media all and (max-width: 480px) {
  .blog.mod-blog-1 {
    @import "../_common/scss/list_options_1_rwd.scss";
  }
}
