#footer.mod-footer-2 {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  height: 450px;
}
@import "../_common/scss/_footer_rights.scss";

@media all and (max-width: 1199px) {
  #footer.mod-footer-2 {
  
    .footer-bg-img {
      position: absolute;
      width: 130%;
      height: 100%;
      min-width: 430px;
      left: -99px;
    }

    .footer-content {
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      left: 50%;
      top: 40px;

      .footer-logo-a {
        position: relative;
        left: -50%;

        .footer-logo {
          color: black;
          font-family: playlistscript;
          font-size: 3.2rem;
        }
      }

      .footer-links-container {
        position: relative;
        left: -50%;
        top: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .footer-link {
          color: black;
          padding: 10px 0px;
        }
      }

      .footer-buttons-container {
        position: relative;
        left: -50%;
        top: 45px;
        display: flex;
        justify-content: space-between;
        width: 260px;

        .footer-button {
          border: 2px solid #ED6082;
          border-radius: 15px;
          width: 115px;
          text-align: center;
          font-size: 1rem;
        }
      }

      .footer-payment-methods-container {
        position: relative;
        left: -50%;
        top: 80px;
        width: 300px;

        .footer-payment-method-img {
          margin: 11px;
        }
      }

      .footer-copyright-container {
        position: relative;
        left: -50%;
        top: 92px;
        display: flex;
        align-items: center;

        .footer-copyright-img {
          width: 12px;
          height: 12px;
        }

        .footer-copyright-text {
          color: #333333;
        }
      }
    }
  }
}

@media all and (max-width: 480px) {
  .footer-rights {
    & .pull-left {
      display: none;
    }
    & .pull-right {
      position: relative;
      right: 50%;
      @include transform(translateX(50%));
      & img {
        margin: 0;
      }
    }
  }
}
