#footer.mod-footer-2 {
  max-width: $pageWidth;
	width: 100%;
	margin: 25px auto 0;
  padding: 25px 0;
  background: $backgroundColorFooter;
  color: $footerTextColor;
  display: inline-block;
  &.full-width {
    max-width: 100%;
  }
  @import "../_common/scss/_footer_container_1.scss";
}
@import "../_common/scss/_footer_rights.scss";

@media all and (min-width: 768px) {
  #footer.mod-footer-2 {
    & .footer-container {
      & .menu {
        display: block !important;
      }
    }
  }
}

@media all and (max-width: 767px) {
  #footer.mod-footer-2 {
    & .footer-container {
      & .mobile-logo {
        display: block;
        text-align: center;
        padding: 0 0 25px;
        & img {
          max-width: 180px;
        }
      }
      & .logo {
        display: none;
      }
      & [class*='col-'] {
        margin-bottom: 5px;
      }
      & .section-title {
        width: 100%;
        padding: 5px 15px;
        background: rgba($fontColor,1/10);
        position: relative;
        @include transition(background 0.2s ease-in-out);
        &:after {
          content: '\f107';
          font-family: 'FontAwesome';
          position: absolute;
          right: 15px;
          top: 50%;
          @include transform(translateY(-50%) rotate(0deg));
          @include transition(transform 0.2s ease-in-out);
        }
        &.open {
          background: $mainColor;
          @include transition(background 0.2s ease-in-out);
          &:after {
            @include transform(translateY(-50%) rotate(-180deg));
            @include transition(transform 0.2s ease-in-out);
          }
        }
        &.center {
          background: transparent;
          padding: 25px 15px 5px;
          &:after {
            content: '';
            display: none;
          }
        }
      }
      & .menu {
        display: none;
        overflow: hidden;
        padding: 5px 15px;
        & li {
          & .row {
            & [class*='col-'] {
              &:first-of-type {
                padding-left: 0;
              }
            }
          }
        }
      }
    }
  }
}

@media all and (max-width: 480px) {
  .footer-rights {
    & .pull-left {
      display: none;
    }
    & .pull-right {
      position: relative;
      right: 50%;
      @include transform(translateX(50%));
      & img {
        margin: 0;
      }
    }
  }
}
