.footer-rights {
  max-width: $pageWidth;
  width: 100%;
  display: block;
  margin: 0 auto;
  padding: 15px 0 35px;
  position: relative;
  span {
    font-size: 13px !important;
  }
  & img {
    position: relative;
    bottom: 1px;
  }
  & .center-block-position {
    text-align: center;
    & img {
      width: 100%;
      max-width: 104px;
    }
  }
}
