@import "../_common/scss/_section_view.scss";
.products-list-page.mod-products-list-page-2 {
  max-width: $pageWidth;
  width: 100%;
  padding: 25px 0;
  margin: 0 auto;
  @import "../../_shared/scss/_product_tile.scss";
  @import "../_common/scss/_utils_1.scss";
  @import "../_common/scss/_list_options_1.scss";
  @import "../_common/scss/_column_left_1.scss";
  & .parameters {
    margin-bottom: 25px;
    position: relative;
    z-index: 12;

    & .input-search-box {
      position: relative;
      & > div[class*="col-"] {
        &:first-of-type {
          width: 100% !important;
          padding-right: 51px;
          & .input-field {
            border-right: 0;
            @include border-top-right-radius(0);
            @include border-bottom-right-radius(0);
          }
        }
        &:last-of-type {
          width: 36px !important;
          padding: 0;
          position: absolute;
          right: 15px;
          & .btn {
            @include border-top-left-radius(0);
            @include border-bottom-left-radius(0);
            margin: 6px 0 12px;
            padding-left: 0;
            padding-right: 0;
            border: 3px solid $additionalColor !important;
            background: $additionalColor border-box !important;
            color: $textColorAdditional !important;

            &:hover, &:focus, &:active {
              border: 3px solid $mainColor !important;
              background: $mainColor border-box !important;
            }
          }
        }
      }
    }
  }
}

@media all and (max-width: 1000px) {
  .products-list-page.mod-products-list-page-2 {
    & .list-options {
      @import "../../_shared/scss/_pagination_mobile.scss";
    }
  }
}

@media(max-width:767px){
  .products-list-page.mod-products-list-page-2{
    & .category-description{
      &.descriptionHidden{
          display: none; 
      }
    }
  }
}

@media all and (max-width: 480px) {
  .products-list-page.mod-products-list-page-2 {
    @import "../_common/scss/list_options_1_rwd.scss";
  }
}
