.newsletter.mod-newsletter-1 {
  max-width: $pageWidth;
	width: 100%;
	margin: 25px auto;
  padding: 25px 0;
  background: $backgroundColorNewsletter;
  display: block;
  @import "../_common/scss/_newsletter_1.scss";
}

@media all and (max-width: 767px) {
  .newsletter.mod-newsletter-1 {
    @import "../_common/scss/_newsletter_1_rwd.scss";
  }
}
