& > .container-fluid {
  & > .row {
    margin: 0px -15px;
  }
}
& .divisions {
  width: 100%;
  position: relative;
  border-collapse: collapse;
  border-spacing: 0;
  &:not(.divisions-lg) {
    margin-bottom: 30px;
    &:after {
      content: '';
      position: absolute;
      top: -15px;
      right: 0;
      left: 0;
      height: 1px;
      background: white;
    }
  }
  & .division-box {
    position: relative;
    border-left: 1px solid white;
    padding: 0 15px;
    &:first-of-type {
      border-left: 0;
    }
    &.division-size {
      &-25 {
        width: 25%;
      }
      &-33 {
        width: 33%;
      }
      &-50 {
        width: 50%;
      }
      &-100 {
        width: 100%;
      }
    }
    & > a {
      display: block;
      color: $colorTextDivision;
      text-decoration: none;
      &.fluid {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
    }
    & table {
      width: 100%;
      & tr {
        & td {
          padding: 25px 15px;
          /* Inside elements control */
          & .fa {
            font-size: 46px;
            color: $colorIconDivision;
          }
          & .title {
            font-weight: 600;
            font-size: 18px;
            color: $colorTextDivision;
          }
          & p {
            margin-top: 3px;
            margin-bottom: 0;
            color: rgba($colorTextDivision,8/10);
          }
          /* Inside elements control */
          &:nth-of-type(1) {
            width: 25%;
            text-align: center;
          }
          &:nth-of-type(2) {
            width: 75%;
          }
        }
      }
    }
    &:hover {
      & > a {
        & .fa {
          color: $mainColor;
        }
      }
    }
  }
}
