@import "./custom/_config.scss";
@import "./usefull/_mixins.scss";
@import "./libs/_roboto.scss";
@import "./libs/_bootstrap.scss";
@import "./libs/_bootstrap.datetime.scss";
@import "./libs/_font-awesome.scss";
@import "./libs/_jquery.scrollbar.scss";
@import "./libs/_owl.carousel.scss";
@import "./libs/_select2.scss";
@import "./libs/_select2-bootstrap.scss";
@import "./libs/_paczkomaty_map.scss";
@import "./libs/_paypo.scss";
@import "./libs/_dhl_pop_maps.scss";
@import "./libs/_nouislider.scss";
@import "./libs/_sweetalert2.scss";
@import "./custom/_bootstrap.scss";
@import "./custom/_bootstrap.datetime.scss";
@import "./custom/_select2.scss";
@import "./custom/_sweetalert2.scss";
@import "./custom/_defaults.scss";
@import "./custom/_responsive.scss";
@import "./custom/_cart.scss";
@import "./custom/_core.scss";
@for $i from 1 through length($additionalScss) {
	@import "#{nth($additionalScss, $i)}";
}

// Header info bar
@import './_header_info_bar.scss';

.form-center{
	margin: auto;
	width: 200px;
	display: block;
	text-align: center;
}
