.slider.mod-slider-4 {
  max-width: $pageWidth;
  width: 100%;
  margin: 0 auto;
  padding: 0 0 25px;
  display: block;
  & + .banner, & + .division {
    padding-top: 5px;
  }
  & .carousel {
    height: 450px;
    display: block !important;
    opacity: 1 !important;
    min-height: 130px;

    & .item {
      height: 450px;
      overflow: hidden;
      min-height: 130px;

      &:not(:first-child) {
        display: none;
      }
      @import "../_common/scss/_slide_img_1.scss";
    }
    @import "../_common/scss/_controls_2.scss";
  }
}

@media all and (max-width: 480px) {
  .slider.mod-slider-4 {
    padding: 0 0 15px;
    & + .banner, & + .division {
      padding-top: 0;
    }
  }
}

@media all and (max-width: 360px) {
  .slider.mod-slider-4 {
    & .carousel {
      height: 210px;
      min-height: 130px;

      & .item {
        height: 210px;
        min-height: 130px;
      }
    }
  }
}