$primaryColor: #ffffff;
$secoundaryColor: #efefef;
$helperColor: #ff00f3; // mainColor #e2bd65
$closeColor: red;
$confirmColor: green;
$cartColor: #485868;
$priceNormal: #131313;
$priceSpecial: #ff3546;
$labelNew: #ffffff;
$labelPromotion: #ffffff;
$labelBestseller: #ffffff;
$fontColor: #131313;
$fontFamily: 'Roboto', sans-serif;
$fontSize: 14px;
$pageWidth: 1170px;
$rwdManipulation: 30px;
$scrollBarWidth: 17px;
$mobileMenuWidth: 300px;
