@import "../../_shared/scss/_all.scss";
@import "../_common/scss/_cookies.scss";
@import "../_common/scss/_header.scss";
@import "../_common/scss/_sticky_header.scss";

#header.mod-header-3 {

  #mobile-open-contact {
    display:none;
  }

  .mobile-search {
    height: 100px;
    padding: 18px 15px 15px;
    & form {
      top: 10px;
    }
  }

  .header_inner_wrapper {
    .header_middle_content {
      padding: $header-middle-content-padding-mid 0px;

      .header_middle_content_inner_wrapper {
        display: block;

        .header_middle_content_inner_wrapper_block_1 {
          display:flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 15px;
        }

        .header_middle_content_menu_button_container {
          display:flex;
          font-size: 0.8rem;
        }

        .header_middle_content_logo {
          font-family: playlistscript;
          font-size: 30px;
        }

        .header_middle_content_menu_button_account_cart {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 45px;
        }

        .header_middle_content_quick_cart_wrapper{
          margin-right: 25px;
        }

        .header_middle_content_searchbox_button_wrapper {
          position: absolute;
          z-index: 1;
          top:9px;
          right:15px;
        }

        .header_middle_content_menu_button_img {
          margin-bottom: 3px;
        }
      }

      @import "../_common/scss/_search_inline.scss";
      @import "../_common/scss/_sub_header_quick_cart_1.scss";
    }

    .menu {
      background-color: $backgroundColorTopMenu;

      &.menu-calculate {
      }

      & ul.header_bottom_content_list {
        position: relative;
        font-size: 0;

        li {
          display: inline-block;
          &.hamburger {
            float: right;
          }
          @import "../_common/scss/_menu_dropdown_click_2.scss";
          @import "../_common/scss/_menu_dropdown_single_1.scss";
          @import "../_common/scss/_menu_dropdown_full_2.scss";
          @import "../_common/scss/_hamburger_dropdown_1.scss";
        }
      }
    }
  }
  .sticky-header_content__menu_list{
    li {
      a {
        color: $fontColor ;
      }
      &:hover{
        a{
          color: $topMenuTextColorHover;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  #header.mod-header-3 {
    .header_inner_wrapper {
      #mobile-open-cart {
        display: none;
      }
    }
  }
}
@media (max-width: 767px) {
  #header.mod-header-3 {
    .header_inner_wrapper {
      .header_middle_content {
        padding: 20px 0px;
        .header_middle_content_inner_wrapper {
          padding: 0px 5px;
          justify-content: flex-start;
          .header_middle_content_logo {
            margin-left: 0;
            img {
              max-width: 175px;
              max-height: 200px;
            }
          }
        }
      }
    }
    & .mobile-search {
      display: block;
    }
    & .menu {
      display: none;
    }
  }

  .swipe-panel {
    & .swipe-panel-content.quick-cart {
      & .dropdown {
        @import "../_common/scss/_dropdown_quick_cart_1.scss";
        min-width: 0 !important;
        &.dropdown-quick-cart {
          width: 300px;
        }
      }
    }
  }
  @import "../_common/scss/_mobile_menu_1.scss";
  @media (max-width: 767px) {
    #header.mod-header-3 {
      .header_inner_wrapper {
        .header_middle_content {
          padding: 20px 0px;

          .header_middle_content_inner_wrapper {
            padding: 0px 5px;
            justify-content: flex-start;

            .header_middle_content_logo {
              img {
                max-width: 175px;
              }
            }
          }
        }
      }

      & .mobile-search {
        display: block;
      }

      & .menu {
        display: none;
      }
    }

    .swipe-panel {
      & .swipe-panel-content.quick-cart {
        & .dropdown {
          @import "../_common/scss/_dropdown_quick_cart_1.scss";
          min-width: 0 !important;
        }
      }
    }

    @import "../_common/scss/_mobile_menu_1.scss";
  }
}
