// =============================
//    LOGO - SEARCH - BAKSET
// =============================

$header-middle-content-padding-big: 50px;
$header-middle-content-padding-mid: 35px;
$header-middle-content-padding-slim: 25px;

// =============================
//          MENU
// =============================

$menu-font-size: 1.143rem; // 16px
$menu-font-weight: $fw500;
$menu-line-height: 1.375;


// =============================
//          SUBMENU TITLE
// =============================

$submenu-title-font-size: $menu-font-size;
$submenu-title-font-weight: $menu-font-weight;
$submenu-title-line-height: $menu-line-height;


// =============================
//          SUBMENU TEXT
// =============================

$submenu-text-font-size: $base-font-size;
$submenu-text-font-weight: $fw400;
$submenu-text-line-height: $menu-line-height;
