&.full-width {
  position: static;
  & .dropdown {
    max-width: $pageWidth;
    width: 100%;
    left: 50%;
    padding-bottom: 7px;
    @include transform(translate(-50%,77px));
    top: 0;
    & > .row {
      max-height: 600px;
      overflow-x: hidden;
      overflow-y: auto;
    }
  }
  &:hover {
    & .dropdown {
      @include transform(translate(-50%,66px));
    }
  }
}
