.header_middle_content_quick_cart_wrapper{
  position: relative;
  @media(max-width:767px){
    display: none;
  }
  & .header_middle_content_quick_cart {
    text-decoration: none;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    & .fa {
      font-size: 34px;
      color: $cartColor;
      position: relative;
      bottom: 2px;
    }
    & .counter {
      position: absolute;
      right: -13px;
      top: 15px;
      min-width: 24px;
      height: 24px;
      font-size: 13px;
      font-weight: $fw700;
      background: $mainColor;
      padding: 5px;
      color: $primaryColor;
      text-align: center;
      @include border-radius(12px);
      & span {
        position: relative;
        top: -2px;
      }
    }
    & .price {
      left: 5px;
      white-space: pre;
      font-size: 1.143rem; //16px;
      font-weight: $fw500;
      padding: 10px 20px 10px 0;
      color: $mainColor;
      min-width: 110px;
      text-align: right;
    }
  }
  & .dropdown {
    @include opacity(0);
    @include transition(all 0.2s ease-in-out);
    @include box-shadow(0 1px 3px rgba(0,0,0,2/10));
    @include transform(translateY(15px));
    min-width: 350px;
    backface-visibility: hidden;
    pointer-events: none;
    position: absolute;
    top: 100%;
    right: -15px;
    z-index: 1;
    background: $primaryColor;
    &:before {
      content: '';
      position: absolute;
      top: -15px;
      right: -30px;
      bottom: 0;
      width: 30px;
    }
    &:after {
      content: '';
      position: absolute;
      top: -15px;
      right: 0;
      left: 0;
      height: 15px;
    }
    @import "_dropdown_quick_cart_1.scss";
  }
  &:hover {
    & .dropdown {
      @include opacity(1);
      @include transition(all 0.2s ease-in-out);
      @include transform(translateY(5.3px));
      pointer-events: auto;
      z-index: 30;
    }
  }
}
