.banner.mod-banner-4 {
	width: 100%;
	margin: 0 auto;
  &.full-width {
    max-width: 100%;
    & > .container-fluid {
      & > .row {
        & [class*='col-'] {
          padding-left: 0;
          padding-right: 0;
        }
      }
    }
  }
  & [class*='slider-img-'] {
    overflow: hidden;
    position: relative;
    & img {
      width: auto;
      height: 100%;
      position: absolute;
      left: 50%;
      @include transform(translateX(-50%));
    }
  }
  & .slider-img {
    &-1 {
      width: 100%;
      aspect-ratio: 1.1/1;
    }
  } 
}

@media (max-width: 1198px) {

  .banner_4_desktop {
    display: none;
  }
}

@media (min-width: 1199px) {
  
  .banner_4_gif {
    display: none;
  }

  .banner_4_desktop {
    display: block;
    height: auto !important;
    width: 90% !important;
  }
}