@import url("/view/_custom/z_pn494/scheme/public/module/customizedrwd/_modules/banners/three/categories-slider/slick.css");

.banner.mod-banner-3 {
  max-width: $pageWidth;
  width: 100%;
  margin: 0 auto;
  &.full-width {
    max-width: 100%;
    & > .container-fluid {
      & > .row {
        & [class*='col-'] {
          padding-left: 0;
          padding-right: 0;
        }
      }
    }
  }
  & [class*='slider-img-'] {
    overflow: hidden;
    position: relative;
    & img {
      width: auto;
      height: 100%;
      left: 50%;
      @include transform(translateX(-50%));
      @media(max-width:1920px){
        max-width: 100%;
        max-height: 100%;
        height: auto;
      }
    }
  }
  & .slider-img {
    &-1 {
      width: 100%;
      margin: 0 auto;
      max-width: 1920px;
      @media(min-width:1920px){
        height: 650px;
        padding-bottom: 0;
      }
    }
  }
}

.sectionName {
  text-align: center;
}

.categorySlide{
  border: 2px solid #ED6082;
  border-radius: 10px;
  text-align: center;
  height: 170px;
  min-width: 170px;
  max-width: 170px;
  margin-left: 20px;
  margin-bottom: 50px;
}

.categorySlide img{
  position: relative;
  transform: translateX(-50%);
  left: 50%;
  max-width: 96px;
  top: 25px;
}

.categorySlideName{
  background-color: #ED6082;
  color: #fff;
  padding: 12px;
  border-radius: 10px;
  position: relative;
  top: 56px;
}

.products-actualization-banner {
  width: auto;
}

.products-actualization-text-container {
  width: auto;
  position: absolute;
  top: 265px;
  left: 50%;
}

.products-actualization-text {
  position: relative;
  left: -50%;
  border: 1px solid #ed6082;
  border-radius: 15px;
  padding: 0px 8px 0px 8px;
  background-color: white;
  min-width: 12.64rem;
}

.pink-waves-bg-container {
  width: auto;
  height: 1750px;
}

.pink-waves-bg-img {
  width: 100%;
  height: 100%;
}

.new-stuff-text {
  position: absolute;
  top: 320px;
  left: 10%;
  color: white;
  font-size: 1.7rem;
}

.new-stuff-seperator-line {
  width: 70px;
  height: 6px;
  background-color: white;
  border-radius: 30px;
}

.woman-container {
  position: absolute;
  top: 384px;
  left: 50%;
}

.woman-blur-bg {
  position: relative;
  left: -50%;
}

.woman-img-container {
  position: absolute;
  top: 17px;
  left: 14px;
}

.banner-text-container {
  position: absolute;
  top: 115px;
  left: 158px;

  .white-banner-text-1 {
    color: white;
    font-size: 20px;
  }

  .white-banner-text-2 {
    position: relative;
    color: white;
    font-size: 20px;
    width: 183px;
    top: -12px;
  }

  .pink-banner-text {
    font-size: 36px;
    position: relative;
    top: -29px;
  }
}

.woman-three-dots-container {
  position: absolute;
  top: 348px;
  left: 30px;
}

.check-button-container {
  position: relative;
  top: -75px;
  left: 154px;

  .check-button {
    position: absolute;
    top: -8px;
    left: -10px;

    .check-button-text {
      color: white;
      position: absolute;
      top: 12px;
      left: 44px;
      font-size: 17px;
      text-shadow: 1px 1px black;
    }
  }
}

.ribbons-container {
  position: absolute;
  top: 806px;
  left: 50%;

  .ribbons {
    position: relative;
    left: -50%;

    .ribbon {
    display: flex;
    justify-content: center;
    margin-bottom: 12px;
    align-items: center;
    background-color: white;
    border-radius: 100px;
    width: 287px;
    height: 70px;
    font-size: 15px;
    }
  }
}

.fifteen_discount_container {
  position: absolute;
  top: 983px;
  left: 50%;

  .fifteen_discount_img {
    position: relative;
    left: -50%;
  }
}

.title-ribbon-container {
  position: absolute;
  top: 1275px;
  left: 50%;
}

.title-ribbon {
  position: relative;
  left: -50%;
  margin-top: 12px;
  margin-bottom: 12px;
  text-align: center;
  background-color: white;
  border-radius: 100px;
  width: 287px;
  height: 20px;
  font-size: 15px;
}

.vibrator-container {
  position: absolute;
  top: 1330px;
  left: 50%;
}

.vibrator-blur-bg {
  position: relative;
  left: -50%;
}

.vibrator-img-container {
  position: absolute;
  top: 17px;
  left: 5px;
}

.vibrator-three-dots-container {
  position: absolute;
  top: 300px;
  left: 30px;
}

.vibrator-title-text-container {
  position: absolute;
  top: 1380px;
  left: 50%;
}

.vibrator-title-text {
  position: relative;
  top: 320px;
  left: -50%;
  color: white;
  font-family: playlistscript;
  font-size: 2rem;
}

.vibrator-desc-text-container {
  position: absolute;
  top: 1755px;
  left: 50%;
}

.vibrator-desc-text-img {
  position: relative;
  left: -50%;
}

.bdsm-section-banner {
  width: auto;

  .bdsm-section-bg-container {
    width: auto;
    height: 1060px;

    .bdsm-section-bg-img {
      width: 100%;
      height: 100%;
    }

    .bdsm-section-text-container {
      width: auto;
      position: absolute;
      top: 2012px;
      left: 50%;
    
        .bdsm-section-text {
          position: relative;
          left: -50%;
          color: #AD83F2;
          border: 1px solid #AD83F2;
          border-radius: 15px;
          padding: 0px 8px 0px 8px;
          background-color: white;
          min-width: 12.64rem;
          text-align: center;
        }
    }

    .bdsm-banner-img-1-container {
      position: absolute;
      left: 50%;
      top: 2054px;

      .bdsm-banner-img-1 {
        position: relative;
        left: -50%;
      }
    }

    .bdsm-categories-list-container {
      position: absolute;
      left: 50%;
      top: 2435px;

      .bdsm-categories-list {
        position: relative;
        left: -50%;
        display: flex;
        min-width: 325px;
        flex-wrap: wrap;
        justify-content: center;
      }

      .bdsm-categories-list-hidden {
        display: none;
        position: relative;
        left: -50%;
        min-width: 325px;
        flex-wrap: wrap;
        justify-content: center;
      }

      .bdsm-category {
        color: white;
        background-color: #AD83F2;
        border-radius: 15px;
        text-align: center;
        padding: 15px 14px;
        margin: 11px 4px;;
      }

      .bdsm-categories-list-active {
        display:flex;
      }

      .bdsm-show-all-button-container {

        .bdsm-show-all-button {
          color: #AD83F2;
          padding-left: 25px;
        }

        .bdsm-close-all-button {
          color: #AD83F2;
          display: none;
          padding-left: 65px;
        }
      }

      .bdsm-products-slider-container {
        position: relative;
        left: -50%;

        .bdsm-products-slider {
          display: flex;
          justify-content: center;
        }
      }
    }
  }

  .bdsm-section-bg-container-higher {
    height: 1400px;
  }
}

.show-all-button-hidden {
  display: none;
}

.show-all-button-active {
  display: block !important; 
}

.erotic-pharmacy-banner {
  width: auto;

  .erotic-pharmacy-bg-container {
    width: auto;
    height: 1335px;

    .erotic-pharmacy-content {
      position: relative;
      top: -4556px;
    }

    .erotic-pharmacy-content-expand {
      top: -4772px;
    }

    .erotic-pharmacy-bg-img {
      width: 100%;
      height: 100%;
    }

    .producer-month-banner-container {
      position: absolute;
      left: 50%;
      top: 3258px;
      width: 350px;

      .producer-month-banner-1-img {
        position: relative;
        left: -50%;
      }

      .producer-month-banner-2-img {
        position: relative;
        left: -50%;
      }

      .producer-month-banner-3-img {
        position: relative;
        left: 69px;
        top: -248px;
      }
    }

    .producer-month-text-container {
      width: auto;
      position: absolute;
      top: 3213px;
      left: 50%;

      .producer-month-text {
        position: relative;
        left: -50%;
        color: #762B42;
        border: 1px solid white;
        border-radius: 15px;
        padding: 0px 8px 0px 8px;
        background-color: white;
        min-width: 12.64rem;
        text-align: center;
      }
    }

    .producer-month-check-offer-button {
      color: white;
      background-color: #ff83a1;
      border-radius: 40px;
      text-align: center;
      padding: 14px 22px;
      position: relative;
      top: -95px;
      left: -68px;
      box-shadow: 1px 2px 5px -2px black;
    }

    .erotic-pharmacy-banner-container {
      position: absolute;
      left: 50%;
      top: 3954px;

      .erotic-pharmacy-banner-img {
        position: relative;
        left: -50%;
      }
    }

    .erotic-pharmacy-text-container {
      width: auto;
      position: absolute;
      top: 3950px;
      left: 50%;

      .erotic-pharmacy-text {
        position: relative;
        left: -50%;
        color: #D15882;
        border: 1px solid #ED6082;
        border-radius: 15px;
        padding: 0px 8px 0px 8px;
        background-color: white;
        min-width: 12.64rem;
        text-align: center;
      }
    }  
    
    .erotic-pharmacy-categories-container {
      position: absolute;
      left: 50%;
      top: 4299px;

      .erotic-pharmacy-categories-list {
        position: relative;
        left: -50%;
        display: flex;
        min-width: 325px;
        flex-wrap: wrap;
        justify-content: center;
      }

      .erotic-pharmacy-categories-list-hidden {
        position: relative;
        left: -50%;
        display: none;
        min-width: 325px;
        flex-wrap: wrap;
        justify-content: center;   
      }

      .erotic-pharmacy-categories-list-active {
        display: flex;
      }

      .erotic-pharmacy-category {
        color: white;
        background-color: #FF83A0;
        border-radius: 15px;
        text-align: center;
        padding: 15px 14px;
        margin: 11px 4px;;
      }
    }
  }

  .erotic-pharmacy-bg-container-higher {
    height: 1550px;
  }
}

.gift-idea-banner {
  width: auto;

  .gift-idea-banner-bg-container {
    width: auto;
    height: 700px;

    .gift-idea-banner-bg-img {
      width: 100%;
      height: 100%;
    }

    .gift-idea-content {
      position: relative;
      top: -4202px;
      display: flex;
      justify-content: center;

      .gift-idea-text-container {
        width: auto;
        position: absolute;
        top: 3495px;
        left: 50%;

        .gift-idea-text {
          position: relative;
          left: -50%;
          color: #d15882;
          border: 1px solid #ed6082;
          border-radius: 15px;
          padding: 0px 8px 0px 8px;
          background-color: white;
          min-width: 12.64rem;
          text-align: center;
        }
      }

      .gift-idea-banner-img-container {
        position: absolute;
        left: 50%;
        top: 3545px;

        .gift-idea-banner-img-1 {
          position: relative;
          left: -45%;
        }

        .gift-idea-banner-img-2 {
          position: relative;
          left: -50%;
          top: 9px;
        }
      }

      .gift-idea-see-all-button-container {
        position: relative;
        top: 4105px;

        .gift-idea-see-all-button {
          color: white;
          background-color: #ff83a0;
          border-radius: 15px;
          text-align: center;
          padding: 15px 14px;
          margin: 11px 4px;
          width: fit-content;
        }
      }
    }
  }
}

.producers-banner {

  .producers-content {
    display: flex;
    height: 160px;
    flex-direction: column;
    align-items: center;

    .producers-text {
      color: #D15882;
      font-size: 1.3rem;
      padding: 20px 5px;
    }

    .producers-slider-container {

      .producers-slider-producer {
        font-size: 1.8rem;
        border: 2px solid #ED6082;
        border-radius: 10px;
        padding: 15px 15px;
      }
    }

    .producers-slider-slidebar-container {
      padding: 25px 0px;

      .producers-slider-slidebar {
        background-color: grey;
        width: 285px;
        height: 3px;
      }

      .producers-slider-slidebar-selection {
        background-color: #ED6082;
        width: 28.5px;
        height: 3px;
        position: relative;
        top: -3px;
        left: 0px;
      }
    }
  }
}

