.banner.mod-banner-14 {
  max-width: $pageWidth;
	width: 100%;
	margin: 0 auto;
  padding-top: 30px;
  & + .slider, & + .producers,
  & + section[class="mod-banner-1"],
  & + section[class="mod-banner-2"],
  & + section[class="mod-banner-3"],
  & + section[class="mod-banner-4"],
  & + section[class="mod-banner-5"],
  & + section[class="mod-banner-6"] {
    padding-top: 30px;
  }
  &.full-width {
    max-width: 100%;
    & > .container-fluid {
      & > .row {
        & [class*='col-'] {
          padding-left: 0;
          padding-right: 0;
        }
      }
    }
  }
  & [class*='slider-img-'] {
    overflow: hidden;
    position: relative;
    & img {
      width: 100%;
      height: auto;
      position: absolute;
      &.vertical {
        width: auto;
        height: 100%;
      }
      &.horizontal {
        width: 100%;
        height: auto;
      }
    }
  }
  & .slider-img {
    &-1 {
      width: 100%;
      padding-bottom: 80%;
    }
  }
}

@media all and (max-width: 810px) {
  .banner.mod-banner-14 {
    padding-top: 15px;
    & > .container-fluid {
      & > .row {
        & [class*='col-'] {
          & > .row {
            margin-left: -7.5px;
            margin-right: -7.5px;
            & > [class*='col-'] {
              padding: 0 7.5px;
            }
          }
        }
      }
    }
  }
}

@media all and (max-width: 480px) {
  .banner.mod-banner-14 {
    padding-top: 15px;
    & > .container-fluid {
      & > .row {
        & [class*='col-'] {
          & > .row {
            & [class*='col-'] {
              &:not(:last-of-type) {
                & [class*='slider-img-'] {
                  margin-bottom: 15px;
                }
              }
            }
          }
        }
      }
    }
    & [class*='slider-img-'] {
      & img {
        width: 100%;
        height: auto;
      }
    }
  }
}

@media all and (max-width: 480px) {
  .banner.mod-banner-14 {
    & + section[class="mod-banner-1"],
    & + section[class="mod-banner-2"],
    & + section[class="mod-banner-3"],
    & + section[class="mod-banner-4"],
    & + section[class="mod-banner-5"],
    & + section[class="mod-banner-6"] {
      padding-top: 15px;
    }
  }
}
