@import "../../_shared/scss/_banks_list.scss";
@import "../_common/scss/_order.scss";

.order.mod-order-1 {
  width: 100%;
  background: $secoundaryColor;

  > .container-fluid {
    width: 100%;
    max-width: $pageWidth;
    min-height: 100vh;
    background-clip: content-box;
    margin: 0 auto;
    padding: 0 0 25px;

    .cart-summary-header {
      width: 100%;
      display: table;
      padding: 35px 15px;

      > .row {
        display: table-row;

        > [class*='col-'] {
          display: table-cell;
          padding: 0;
          float: none;
          vertical-align: middle;
        }
      }

      .logo {
        text-align: center;

        img {
          max-width: 220px;
        }
      }
    }

    .cart-summary-body {
      padding: 0 15px;

      > .row {
        > [class*='col-'] {
          background: $primaryColor;
          background-clip: content-box;

          &:last-of-type {
            position: relative;
            top: 0;
            @include transition(top 0.2s ease-in-out);

            &.force-disable-fixed {
              top: 0 !important;
            }
          }

          .heading {
            margin-bottom: 0;

            &:not(:first-of-type) {
              margin-top: 30px;
            }

            .order-copy-data {
              display: inline-block;
              float: right;
              font-weight: 500;
              padding-top: 8px;
            }
          }
        }
      }
    }

    .cart-summary-body.summary-finish {
      .success-icon {
        padding: 15px 0;
        text-align: center;

        > i {
          width: 100px;
          height: 100px;
          background-color: $mainColor;
          border-radius: 50px;
          margin: auto;
          color: white;
          position: relative;
          font-size: 80px;

          &:before {
            position: absolute;
            top: 50%;
            left: 50%;
            @include transform(translate(-50%, -50%));
          }
        }
      }
    }

    .cart-summary-content {
      padding: 0 25px;

      &:first-of-type {
        padding-top: 15px;
      }

      &:last-of-type {
        padding-bottom: 10px;
      }

      .cart-summary-info {
        color: $priceColor;
      }

      .btn-order-confirm {
        position: relative;
        left: 50%;
        @include transform(translateX(-50%));
      }
    }

    .products-list {
      width: 100%;

      tr {
        border-bottom: 1px solid $colorLineBorder;

        td {
          padding: 10px 0;
        }

        .product {
          &-img {
            padding-left: 25px;
            width: 1px;

            img {
              width: 50px;
            }
          }

          &-info {
            .title {
              font-weight: 500;
              display: -webkit-box;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
              overflow: hidden;
              text-overflow: ellipsis;
              max-height: 39.2px;
              padding: 0 15px;
            }

            .details {
              font-weight: 100;
              display: block;
              padding: 7px 15px 0 15px;
              font-size: 12px;

              > span {
                font-weight: 500;

                &:not(:last-of-type) {
                  &:after {
                    content: ',';
                  }
                }
              }
            }
          }

          &-qty {
            text-align: center;
            width: 13%;
          }

          &-price {
            padding-right: 25px;
            text-align: right;
            width: 23%;
            color: $priceColor;

            span {
              font-weight: 500;
            }
          }
        }

        .product-view-mobile {
          padding-right: 25px;
          text-align: right;

          .product {
            &-qty {
              width: 100%;
              text-align: right;
            }

            &-price {
              width: 100%;
              text-align: right;
              padding-right: 0;
              color: $priceColor;

              span {
                font-weight: 500;
              }
            }
          }
        }

        &:first-of-type {
          border-top: 1px solid $colorLineBorder;
        }
      }
    }

    .order-sum {
      padding: 10px 0;
      font-weight: 500;
      position: relative;

      &:before {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: -10px;
        right: -10px;
        height: 1px;
        background: $secoundaryColor;
      }

      &:last-of-type {
        &:before {
          display: none;
        }
      }

      &.no-padding {
        padding: 0;
        margin-top: -14px;
      }

      &.upper {
        font-size: 18px;
      }

      &.discount {
        padding-bottom: 0;

        > [class*='col-'] {
          > .row {
            > [class*='col-'] {
              padding-top: 0;
              padding-bottom: 0;

              &:first-of-type {
                padding-right: 0;

                .input-field {
                  margin: 0;
                  border-right: 0;
                  @include border-top-right-radius(0);
                  @include border-bottom-right-radius(0);

                  &.input-disabled {
                    border: 1px solid rgba($fontColor, 1/10) !important;
                    background: rgba($fontColor, 5/100);
                  }
                }
              }

              &:last-of-type {
                padding-left: 0;

                .btn {
                  margin-top: 0;
                  @include border-top-left-radius(0);
                  @include border-bottom-left-radius(0);

                  &.btn-disabled {
                    border: 3px solid $additionalColor !important;
                    background: $additionalColor padding-box !important;
                    color: rgba($textColorAdditional, 5/10) !important;
                    cursor: default;
                  }
                }
              }
            }
          }
        }

        &:before {
          display: none;
        }
      }

      &.comment {
        &:before {
          display: none;
        }
      }

      [class*='col-'] {
        padding: 5px 15px;

        .pull-right {
          color: $priceColor;
        }

        textarea {
          resize: none;
        }
      }

      .textarea-field {
        margin: 0;
      }
    }

    .param-vat-container {
      margin: 30px 0;
    }

    .order-sections {
      margin-top: 0;
      margin-bottom: 15px;

      .input-field, .textarea-field, .datetime-field {
        margin: 0;
        display: inherit;
      }

      .datetime-field {
        max-width: 200px;
      }

      .checkbox-field {
        padding: 3px 0 3px;
        margin-bottom: 3px;
        background: $primaryColor;
        z-index: 1;
      }

      .text-field {
        padding: 3px 0 3px;
        margin-bottom: 1px;
      }

      &.order-sections-country {
        .order-country {
          + .select2 {
            max-width: 50%;
            display: inline-block;
          }
        }

        .order-country-select {
          color: $mainColor;
          font-size: 16px;
          display: inline-block;
          position: relative;
          top: 2px;

          .fa {
            padding: 0 10px;
            color: $fontColor;
          }
        }
      }
    }

    .order-title-section {
      padding: 5px 0;
      font-weight: 500;
      display: inline-block;
    }

    .inputs-bill-wrapper {
      display: flex;
      .user-bill-iso {
        width: auto;
        margin-right: -4px;
        padding: 0;
        text-align: center;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
      .user-bill-vat-wrapper {
        width: 100%;
      }
    }

    .user-receipt-wrapper {
      .checkbox-field {
        float: none !important;
      }

      @media(min-width: 768px) {
        margin-top: 10px;
        .checkbox-field {
          margin-top: 5px;
        }
      }
    }

    .order-country {
      height: 34px;
      line-height: 1.42857143;
      padding: 6px 24px 6px 8px;
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
      background-color: #fff;
      border: 1px solid #ccc;
      border-radius: 4px;
      color: #555;
      width: 100%;
      font-size: 14px;
      outline: 0;
      @include opacity(0);
    }

    .order-select-table {
      display: table;
      border-collapse: separate;
      width: 100%;
      background: $primaryColor;
      z-index: 1;
      position: relative;

      tbody{
        tr {
          display: table-row;
          cursor: pointer;
          background: rgba($secoundaryColor, 5/10);
          td {
            display: table-cell;
            vertical-align: middle;
            padding: 5px 10px;
            border: 1px solid $colorLineBorder;
            border-radius: 0 3px 3px 0;
            border-left: none;
            &:first-of-type {
              width: 0px;
              padding: 1px;
              border-radius: 3px 0 0 3px;
              border-right: none;
              border-left: 1px solid $colorLineBorder;
              .checkbox-field{
                label{
                  opacity: 0;
                }
              }
            }

            &.icons-show{
              &:first-of-type {
                width: 85px;
                padding: 0 15px;
                border-radius: 3px 0 0 3px;
                border-right: none;
                border-left: 1px solid $colorLineBorder;

              }
            }

            &.cost {
              text-align: center;
              font-weight: 500;
            }

            .checkbox-field {
              display: inline;
              height: 50px;
              background: transparent;
              position: relative;

              &.icons-show{
                label{
                  opacity: 0;
                }
              }

              &:after {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
              }

              label {
                position: static;
                opacity: 1;

                &:before {
                  width: 20px;
                  height: 20px;
                  top: 50%;
                  left: 50%;
                  @include transform(translate(-50%, -50%));
                  @include border-radius(50%);
                }

                &:after {
                  width: 16px;
                  height: 16px;
                  top: 50%;
                  left: 50%;
                  @include transform(translate(-50%, -50%));
                  font-size: 11px;
                  line-height: 17px;
                  text-indent: 3px;
                }
              }

              .payment-ico{
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
                height: 100%;
                object-fit: contain;
              }
            }

            .method-title {
              display: block;
              font-weight: 500;
              font-size: 16px;
            }

            .method-desc {
              display: block;
              color: rgba($fontColor, 6/10);
            }
          }

          &.active {
            background: $primaryColor;
            cursor: default;
              td{
                border: 1px solid $mainColor;
                border-radius: 0 3px 3px 0;
                border-left: none;
                &:first-of-type {
                  border-radius: 3px 0 0 3px;
                  border-right: none;
                  border-left: 1px solid $mainColor;
                }
            }
          }

          &.more {
            display: none;
            cursor: default;
            border: none;
            td {
              position: relative;
              text-align: left;
              font-weight: 100;
              padding: 0;
              border: none;
              .order-title-section:not(:first-of-type) {
                padding-top: 15px;
              }
              .payment-methods {
                padding: 15px;
                border: 1px solid $mainColor;
                border-radius: 0 0 3px 3px;
                background: $primaryColor;
                margin-top: -3px;
                border-top: 0px;
                .banks-list {
                  min-height: 50px;

                  .bank-wrapper {
                    display: inline-block;
                    width: 345px;
                    position: relative;
                    z-index: 1;
                    background: $primaryColor;

                    .bank {
                      padding: 5px;
                      width: 195px;

                      .bank-container {
                        border: 1px solid $colorLineBorder;
                        background: rgba($secoundaryColor, 5/10);
                        @include border-radius(5px);
                        cursor: pointer;

                        .bank-logo {
                          width: 100%;
                          padding-bottom: 55%;
                          position: relative;

                          .bank-logo-container {
                            position: absolute;
                            top: 5px;
                            right: 5px;
                            bottom: 5px;
                            left: 5px;
                            border: 1px solid $colorLineBorder;
                            @include border-radius(3px);
                            background: $primaryColor;

                            img {
                              max-width: 100%;
                              position: absolute;
                              top: 50%;
                              left: 50%;
                              @include transform(translate(-50%, -50%));
                            }

                            .fa {
                              font-size: 56px;
                              color: $additionalColor;
                              position: absolute;
                              top: 50%;
                              left: 50%;
                              @include transform(translate(-50%, -50%));
                            }

                            span {
                              display: block;
                              text-align: center;
                              font-size: 22px;
                              width: 100%;
                              position: absolute;
                              top: 50%;
                              @include transform(translateY(-50%));
                            }
                          }
                        }

                        .bank-name {
                          display: block;
                          text-align: center;
                          padding: 5px;
                          color: rgba($fontColor, 5/10);
                          font-size: 12px;
                        }

                        .bank-select {
                          width: 75%;
                          height: 100%;
                          position: absolute;
                          top: 0;
                          left: 100%;

                          .bank-select-container {
                            position: absolute;
                            top: 5px;
                            right: 0;
                            bottom: 5px;
                            left: 0;
                            border: 1px solid $colorLineBorder;
                            background: rgba($secoundaryColor, 5/10);
                            @include border-radius(5px);
                            cursor: pointer;

                            > span {
                              display: block;
                              position: absolute;
                              top: 5px;
                              right: 5px;
                              bottom: 5px;
                              left: 5px;
                              border: 1px solid $colorLineBorder;
                              @include border-radius(3px);
                              background: $primaryColor;

                              > span {
                                font-size: 22px;
                                text-align: center;
                                display: block;
                                position: absolute;
                                top: 50%;
                                width: 100%;
                                padding: 0 15px;
                                @include transform(translateY(-50%));

                                &[data-trans="select-bank"] {
                                  display: block;
                                }

                                &[data-trans="change-bank"] {
                                  display: none;
                                }
                              }
                            }
                          }

                          &:hover {
                            .bank-select-container {
                              > span {
                                > span {
                                  color: $mainColor;
                                }
                              }
                            }
                          }
                        }
                      }

                      &.selected {
                        .bank-container {
                          &:after {
                            content: '';
                            position: absolute;
                            top: 4px;
                            right: 4px;
                            bottom: 4px;
                            left: 4px;
                            border: 2px solid $mainColor;
                            @include border-radius(5px);
                          }
                        }

                        .bank-name {
                          display: block;
                          text-align: center;
                          padding: 5px;
                          color: $fontColor;
                        }

                        .bank-select {
                          .bank-select-container {
                            > span {
                              > span {
                                &[data-trans="select-bank"] {
                                  display: none;
                                }

                                &[data-trans="change-bank"] {
                                  display: block;
                                }
                              }
                            }
                          }
                        }
                      }
                    }

                    &.banks-skypay {
                      .bank {
                        .bank-container {
                          .bank-logo {
                            padding-bottom: 100%;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }

            &.open{
              background: #fff;
              position: relative;
            }
            &:hover{
              tr,td{
                border: none!important;
              }
            }
          }

          &:hover{
            background: $primaryColor;
            td{
              border: 1px solid $mainColor;
              border-radius: 0 3px 3px 0;
              border-left: none;
              &:first-of-type {
                border-radius: 3px 0 0 3px;
                border-right: none;
                border-left: 1px solid $mainColor;
              }
            }
          }

          &.tr-separator{
            border: none;
            height: 8px;
          }
        }
      }

      &.empty {
        background: $primaryColor;

        .info {
          background: rgba($secoundaryColor, 5/10);
          text-align: center;
          padding: 20px 0;
          display: block;
          font-weight: 500;
          font-size: 16px;
          color: rgba($fontColor, 6/10);
        }
      }

      &#order-deliverys-methods{
        tbody{
          tr{
            td{
              &:nth-child(2){
                border-right: none;
                border-radius: 0;
              }
              &.cost{
                border-left: none;
              }
            }
            .delivery-method-select{
              padding: 15px;
              border: 1px solid $mainColor;
              border-radius: 0 0 3px 3px;
              background: $primaryColor;
              margin-top: -3px;
              border-top: 0px;
            }
          }
        }
      }

      &#contact-date{
        tbody{
          tr{
            td{
              &:nth-child(1) {
                width: 0px;
                padding: 1px;
                .checkbox-field{
                  label{
                    opacity: 0;
                  }
                }
              }
            }
            &.more{
              td{
                padding: 0;
                .contact-date-info{
                  padding: 15px;
                  border: 1px solid $mainColor;
                  border-radius: 0 0 3px 3px;
                  background: $primaryColor;
                  margin-top: -3px;
                  border-top: 0px;
                }
              }
            }
          }
        }
      }

    }
  }
}

@media all and (max-width: 767px) {
  .order.mod-order-1 {
    > .container-fluid {
      .order-sections {
        &.order-sections-country {
          .order-country {
            + .select2 {
              max-width: 100%;
            }
          }

          .order-country-select {
            display: none;
          }
        }
      }
    }
  }
}

@media all and (max-width: 451px) {
  .order.mod-order-1 {
    > .container-fluid {
      .order-select-table {
        tr {
          &.more {
            td {
              .payment-methods {
                .banks-list {
                  .bank-wrapper {
                    width: 195px!important;
                    display: table!important;
                    margin: 0 auto;

                    .bank {
                      width: 195px!important;
                      padding-bottom: 35%!important;

                      .bank-container {
                        .bank-select {
                          width: 185px!important;
                          top: 66%!important;
                          left: 5px!important;
                          height: 33%!important;
                        }
                      }
                    }

                    &.banks-skypay {
                      .bank {
                        .bank-container {
                          .bank-select {
                            top: 76%!important;
                            height: 25%!important;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media all and (max-width: 395px) {
  #order-deliverys-methods{
    td.icons-show{
      padding: 0;
      width: 0;
    }
    .payment-ico{
      display: none;
    }
  }
}

@media all and (max-width: 360px) {
  .order.mod-order-1 {
    > .container-fluid {
      .cart-summary-content {
        &:last-of-type {
          .row {
            &:first-of-type {
              .pull-left {
                position: relative;
                left: 50%;
                @include transform(translateX(-50%));
              }

              .pull-right {
                position: relative;
                right: 50%;
                @include transform(translateX(50%));
              }
            }
          }
        }
      }
    }
  }
}
